* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* margin: 10px; */
    /* background-color: grey; */
}

#top-container { 
    text-align: right;
    margin: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    /* background-color: #ebebeb; */
}

table, td {
    /* border: 1px solid rgba(128, 128, 128, 0.436); */
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
}

#top-container a {
    text-decoration: none;
    color: black;
}

#top-container a:after {
    text-decoration: none;
    color: black;
}

#top-container a:hover {
    text-decoration: underline;
    color: black;
}

.logo_container {
    max-width: 583px;
    text-align: center;
    margin: auto;
    /* background-color: orange; */
}

.logo_space {
    /* text-align: center;  */
    /* margin-top: 10px; */
    /* height: 92px; */
    position: relative;
    width: 47%;
    /* background-color: white; */
    margin: auto;
    /* display: flex; */
}

.logo_image {
    width: 100%;
}

#logo_text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding-right: 5px;
    padding-bottom: 4px;
    color: rgb(0, 132, 255);
}

@media (max-width: 583px) {
    #logo_text {
        font-size: 90%;
    }
}

@media (max-width: 525px) {
    #logo_text {
        font-size: 80%;
    }
}

@media (max-width: 475px) {
    #logo_text {
        font-size: 70%;
    }
}

@media (max-width: 425px) {
    #logo_text {
        font-size: 60%;
    }
}

.search_container {
    max-width: 583px;
    margin: auto;
    text-align: center;
    /* background-color: rgb(255, 153, 0); */
    /* border: 1px solid grey; */
}

.search-bar-container {
    position: relative;
    /* background-color: rgb(2, 253, 253); */
    width: 100%;
    display: flex;
}

#search-icon {
    position: absolute;
    top: 41px;
    left: 17px;
    width: 2.5%;
}

#lens-icon  {
    position: absolute;
    top: 31px;
    right: 13px;
    width: 5.5%;
}

#search_bar {
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.226);
    height: 47px;
    font-size: 16px;
    /* margin: 0; */
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 43px;
}

#search_bar:hover, #search_bar:focus {
    box-shadow: 0 1.5px 6px 1px rgba(0,0,0,0.15);
    outline: none;
}

button {
    background-color: rgba(128, 128, 128, 0.05);
    color: rgb(70, 70, 70);
    border: 0.5px solid white;
    border-radius: 4px;
    font-size: 14px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
  }

  button:hover {
    border: 0.2px solid rgba(97, 97, 97, 0.242);
    box-shadow: 0 1px 1px 0 rgba(97, 97, 97, 0.242);
    transition-duration: 0.05s;
  }

#image_search_button {
    visibility: hidden;
}

/* Advanced Search Page Styling*/

.page {
    margin: auto;
    /* background-color:#ebebeb; */
}

.header {
    position: relative;
    height: 64px;
    display: flex;
    /* background-color: aquamarine; */
}

#logo-advanced-wrapper {
    position: relative;
    left: 20px;
    top: 21px;
    /* background-color: white; */
    height: 24.5px;
}

#logo-advanced {
    height: 100%;
}

.header a {
    position: absolute;
    right: 25px;
    top: 20px;
    text-decoration: none;
    color: black;
    font-size: 90%;
}

.header a:after {
    text-decoration: none;
    color: black;
}

.header a:hover {
    text-decoration: underline;
    color: black;
}

.sub-header {
    position: relative;
    height: 72px;

    /* background-color: rgb(255, 249, 182); */
}

.sub-header p {
    /* position: relative; */
    margin-top: 0;
    padding-top: 25px;
    padding-left: 45px;
    font-size: 20px;
    color: #d93025;
    /* margin-top: 0;
    margin-left: 0; */
    width: 100%;
    /* background-color: aqua; */
}

.separator  {
    border-bottom: 1px solid #ebebeb;
}

.form   {
    max-width: 1140px;
    min-width: 200px;
    margin-top: 40px;
    margin-left: 45px;
    /* background-color: aquamarine; */
}

.form-row {
    display: flex;
    height: 42px;
    /* background-color: aliceblue; */
    /* border-bottom: 1px solid black; */
}

#form-heading-1 {
    margin: 0;
    margin-top: -1px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

#form-heading-2 {
    margin: 0;
    margin-left: -12px;
    font-size: 13px;
    color: #777;
    font-weight: 700;
}

.form-col-1 {
    margin-top: 8px;
    min-width: 167px;
    width: 16%;
    color: #222;
    font-size: 13px;
    /* background-color: lightgoldenrodyellow; */
}

.form-col-2 {
    position: relative;
    min-width: 167px;
    width: 50%;
    /* background-color: cornflowerblue; */
}

.form-col-3 {
    display: table;
    
    color: #555;
    font-size: 11px;
    padding-left: 16px;

    width: 32%;
    min-width: 160px;
    height: 30px;

    /* background-color: lightcyan; */
}

@media (max-width: 1057px) {
    .form-col-3 {
        visibility: hidden;
    }
}
 
.form-col-3-td {
    display: table-cell;
    vertical-align: middle;
}

.examples {
    font-family: monospace;
    font-size: 11px;
    color: #667;
    white-space: collapse;
    text-wrap: wrap;
}

.form-row input {
    width: 100%;
    height: 30px;
    padding: 1px 8px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    outline: none;
}

.form-row input:focus {
    border: 1px solid blue;
    box-shadow: inset 0 1.5px 1px 1px lightgrey;
}

#advanced-search-button {
    position: absolute;
    right: 0;
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #4d90fe;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    text-align: center;
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
}

#advanced-search-button:hover {
    background-color: #4787ed;
    background-image: none;
}

#advanced-search-button:focus {
    /* background-color: white; */
    /* outline: auto;
    outline-style: inset;
    outline-width: 3px;
    outline-color: white; */
    box-shadow: inset 1px 1px 0px white, inset -1px -1px 0px white
}