* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* margin: 10px; */
}

#top-container { 
    text-align: right;
    margin: 15px;
    font-size: 14px;
}

table, td {
    /* border: 1px solid rgba(128, 128, 128, 0.436); */
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
}

#top-container a {
    text-decoration: none;
    color: black;
}

#top-container a:after {
    text-decoration: none;
    color: black;
}

#top-container a:hover {
    text-decoration: underline;
    color: black;
}

.logo_container {
    max-width: 575px;
    text-align: center;
    margin: auto;
    /* background-color: orange; */
}

.logo_space {
    /* text-align: center;  */
    /* margin-top: 10px; */
    /* height: 92px; */
    position: relative;
    width: 47%;
    /* background-color: white; */
    margin: auto;
    /* display: flex; */
}

.logo_image {
    width: 100%;
}

#logo_text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding-right: 5px;
    padding-bottom: 4px;
    color: rgb(0, 132, 255);
}

@media (max-width: 575px) {
    #logo_text {
        font-size: 90%;
    }
}

@media (max-width: 525px) {
    #logo_text {
        font-size: 80%;
    }
}

@media (max-width: 475px) {
    #logo_text {
        font-size: 70%;
    }
}

@media (max-width: 425px) {
    #logo_text {
        font-size: 60%;
    }
}

.search_container {
    max-width: 575px;
    margin: auto;
    text-align: center;
    /* background-color: aliceblue; */
    /* border: 1px solid grey; */
}

#search_bar {
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.226);
    height: 47px;
    font-size: 16px;
    /* margin: 0; */
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#search_bar:hover, #search_bar:focus {
    box-shadow: 0 1.5px 6px 1px rgba(0,0,0,0.15);
    outline: none;
}

button {
    background-color: rgba(128, 128, 128, 0.05);
    color: rgb(70, 70, 70);
    border: 0.5px solid white;
    border-radius: 4px;
    font-size: 14px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
  }

  button:hover {
    border: 0.2px solid rgba(97, 97, 97, 0.242);
    box-shadow: 0 1px 1px 0 rgba(97, 97, 97, 0.242);
    transition-duration: 0.05s;
  }

#image_search_button {
    visibility: hidden;
}